

  {% extends 'layoutstwig.app' %}
   {% block content %}
    <div class="col-sm-8 m-auto bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
       <div class="grid grid-cols-1 md:grid-cols-2">
               <div class="p-6">
                   <div class="ml-4 text-lg leading-7 font-semibold text-center">
                       <h2>Welcome Twig Layout</h2>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}